<a href="https://colab.research.google.com/github/zahir2003/Python_github/blob/main/CA1(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1.	Write a program in Python to find the addition & average of three float numbers.

In [ ]:
a = float(input("Enter first number : "))
b = float(input("Enter second number : "))
c = float(input("Enter third number : "))
sum = (a+b+c)
avg = (sum/3)
print("The sum is : ",sum)
print("The average is : ",avg)

Enter first number : 45
Enter second number : 67
Enter third number : 34
The sum is :  146.0
The average is :  48.666666666666664

2.	Write a program in Python to find the volume of a sphere with radius  6cm.

In [ ]:
r = 6
pi = 3.14
volume = (4/3)*pi*(r**3)
print("The volume of sphere is : ",volume)

The volume of sphere is :  904.3199999999999

3.	Write a program in Python to find the area of a circle.

In [ ]:
r = float(input("Enter the radius : "))
pi = 3.14
area = pi*(r**2)
print("The area of circle is : ",area)

Enter the radius : 34
The area of circle is :  3629.84

4.	Write a program in Python to compute simple Interest.

In [ ]:
p = float(input("Enter the principal amount : "))
r = float(input("Enter the rate of interest : "))
t = float(input("Enter the time : "))
si = (p*r*t)/100
print("The simple interest is : ",si)

Enter the principal amount : 56
Enter the rate of interest : 10.65
Enter the time : 4
The simple interest is :  23.855999999999998

5.	Write a program in Python to swap two numbers without using third variable

In [ ]:
a = float(input("Enter the first number : "))
b = float(input("Enter the second number : "))
a = a+b
b = a-b
a = a-b
print("The first number is : ",a)
print("The second number is : ",b)

Enter the first number : 78
Enter the second number : 83
The first number is :  83.0
The second number is :  78.0

6.	Write a program in Python to convert any temperature from Celcius to Fahrenheit.

In [ ]:
c = float(input("Enter the temperature in celcius : "))
f = (c*(9/5))+32
print("The temperature in fahrenheit is : ",f)

Enter the temperature in celcius : 78
The temperature in fahrenheit is :  172.4

7.	Write a program in Python to convert a given number of days into days, month, year and week.

In [ ]:
d = int(input("Enter the number of days : "))
y = d//365
m = (d%365)//30
w = ((d%365)%30)//7
print("The number of years is : ",y)
print("The number of months is : ",m)
print("The number of weeks is : ",w)

Enter the number of days : 892
The number of years is :  2
The number of months is :  5
The number of weeks is :  1

8.	Write a Python Program to find the gravitational force acting between two objects.
[G=N*(m1*m2)/d^2]

In [ ]:
n = float(input("Enter the value of n : "))
m1 = float(input("Enter the value of m1 : "))
m2 = float(input("Enter the value of m2 : "))
d = float(input("Enter the value of d : "))
g = (n*m1*m2)/(d**2)
print("The gravitational force is : ",g)

Enter the value of n : 758
Enter the value of m1 : 34
Enter the value of m2 : 45
Enter the value of d : 831
The gravitational force is :  1.6794171695186957

9.	Write a program in Python to find given no is Even or Odd.

In [ ]:
n = int(input("Enter a number : "))
if n%2==0:
    print("The number is even")
else:
    print("The number is odd")

Enter a number : 13
The number is odd

10.	Take input from user if it is greater than 15 print two times of difference if it’s less than 15 print four times of difference.

In [ ]:
n = int(input("Enter a number : "))
if n>15:
    print((n-15)*2)
else:
    print((n-15)*4)

Enter a number : 23
16

11.	Write a program in Python to find largest among three numbers.

In [ ]:
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))
c = int(input("Enter third number : "))
if a>b and a>c:
    print("The largest number is : ",a)
elif b>a and b>c:
    print("The largest number is : ",b)
else:
    print("The largest number is : ",c)

Enter first number : 45
Enter second number : 78
Enter third number : 23
The largest number is :  78

12.	Write a program in Python to check a triangle is equilateral,scalene or isosclees..

In [ ]:
a = int(input("Enter the length of the first side: "))
b = int(input("Enter the length of the second side: "))
c = int(input("Enter the length of the third side: "))

if a == b == c:
    print("The triangle is equilateral")
elif a==b or a==c or b==c:
    print("The triangle is isosceles")
else:
    print("The triangle is scalene")

Enter the length of the first side: 78
Enter the length of the second side: 34
Enter the length of the third side: 56
The triangle is scalene

13.	Write a program in Python to check a given year is leapyear or not.

In [ ]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Enter a year: 2003
2003 is not a leap year

14.	Take marks of a student of four different subject find average depending on average find Grade(if marks >=75 i.e,’A’ or >=60 but <=75 i.e,’B’ or >=40 but <=60 i.e,’C’ or <=40 i.e,’D’).

In [ ]:
sub1 = float(input("Enter marks of subject 1: "))
sub2 = float(input("Enter marks of subject 2: "))
sub3 = float(input("Enter marks of subject 3: "))
sub4 = float(input("Enter marks of subject 4: "))

average = (sub1 + sub2 + sub3 + sub4) / 4
if average >= 75:
    grade = 'A'
elif average >= 60:
    grade = 'B'
elif average >= 40:
    grade = 'C'
else:
    grade = 'D'

print("Average marks:", average)
print("Grade:", grade)

Enter marks of subject 1: 78
Enter marks of subject 2: 89
Enter marks of subject 3: 78
Enter marks of subject 4: 91
Average marks: 84.0
Grade: A

15.	Write a program in Python to implement a simple calculator

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Division by zero!"
    else:
        return x / y

print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = input("Enter choice(1/2/3/4): ")

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if choice == '1':
    print(num1, "+", num2, "=", add(num1, num2))
elif choice == '2':
    print(num1, "-", num2, "=", subtract(num1, num2))
elif choice == '3':
    print(num1, "*", num2, "=", multiply(num1, num2))
elif choice == '4':
    print(num1, "/", num2, "=", divide(num1, num2))

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice(1/2/3/4): 3
Enter first number: 67
Enter second number: 5
67.0 * 5.0 = 335.0

16.	Write a program in Python to find the roots of Quadratic equation.

In [ ]:
import cmath

a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))

delta = (b**2) - 4*(a*c)

sol1 = (-b - cmath.sqrt(delta)) / (2*a)
sol2 = (-b + cmath.sqrt(delta)) / (2*a)

print('The roots are {0} and {1}'.format(sol1,sol2))

Enter coefficient a: 78
Enter coefficient b: 36
Enter coefficient c: 89
The roots are (-0.23076923076923078-1.0429627045852687j) and (-0.23076923076923078+1.0429627045852687j)

17.	Write a program in Python to print 1 to n.

In [ ]:
n = int(input("Enter the value of n: "))

for i in range(1, n + 1):
    print(i)

Enter the value of n: 12
1
2
3
4
5
6
7
8
9
10
11
12

18.	Write a program in Python to print sum of natural number.

In [ ]:
n = int(input("Enter a positive integer: "))

if n <= 0:
    print("Please enter a positive integer.")
else:
    sum = n * (n + 1) // 2
    print("The sum of natural numbers up to", n, "is", sum)

Enter a positive integer: 15
The sum of natural numbers up to 15 is 120

19.	Write a program in Python to print Sum of Digit.

In [ ]:
num = int(input("Enter a number: "))
sum = 0

while num > 0:
    digit = num % 10
    sum += digit
    num //= 10

print("The sum of digits is:", sum)

Enter a number: 11
The sum of digits is: 2

20.	Write a program in Python to print Factors of a Number.

In [ ]:
def print_factors(number):
    print(f"Factors of {number}:")
    for i in range(1, number + 1):
        if number % i == 0:
            print(i)

number = int(input("Enter a number: "))
print_factors(number)

Enter a number: 10
Factors of 10:
1
2
5
10

21.	Write a program in Python to print Reverse of a Number.

In [ ]:
def reverse_number(number):
    reversed_number = int(str(number)[::-1])
    return reversed_number

number = int(input("Enter a number: "))
reversed_number = reverse_number(number)
print(f"Reverse of {number} is {reversed_number}")

Enter a number: 234
Reverse of 234 is 432

22.	Write a Python program to find Factorial of a given number.

In [ ]:
def factorial(number):
    result = 1
    for i in range(1, number + 1):
        result *= i
    return result

number = int(input("Enter a number: "))
if number < 0:
    print("Factorial is not defined for negative numbers.")
else:
    print(f"Factorial of {number} is {factorial(number)}")

Enter a number: 21
Factorial of 21 is 51090942171709440000

23.	Write a Python program to check a number is palindrome or not.

In [ ]:
def is_palindrome(number):
    str_number = str(number)
    return str_number == str_number[::-1]

number = int(input("Enter a number: "))
if is_palindrome(number):
    print(f"{number} is a palindrome.")
else:
    print(f"{number} is not a palindrome.")

Enter a number: 121
121 is a palindrome.

24.	Write a Python program to check a number is prime or not.

In [ ]:
def is_prime(number):
    if number <= 1:
        return False
    if number == 2 or number == 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False

    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6

    return True

num = int(input("Enter a number: "))

if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter a number: 23
23 is a prime number.

25.	Write a Python program to check a number is Armstrong or not.

In [ ]:
def is_armstrong(number):
    digits = str(number)
    num_digits = len(digits)
    sum_of_powers = sum(int(digit) ** num_digits for digit in digits)
    return sum_of_powers == number

num = int(input("Enter a number: "))

if is_armstrong(num):
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

Enter a number: 123
123 is not an Armstrong number.

26.	Write a Python program to print Fibonacci series of n term

In [ ]:
def fibonacci_series(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    else:
        list_fib = [0, 1]
        while len(list_fib) < n:
            next_fib = list_fib[-1] + list_fib[-2]
            list_fib.append(next_fib)
        return list_fib

n = int(input("Enter the number of terms: "))
print(fibonacci_series(n))

Enter the number of terms: 23
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]

27.	Write a Python program to implement multiplication table.

In [ ]:
num = int(input("Enter the number for multiplication table: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter the number for multiplication table: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

28.	Write a Python program to take a input from user in a list and print it.

In [ ]:
user_list = []
n = int(input("Enter the number of elements in the list: "))
for i in range(n):
    element = input(f"Enter element {i + 1}: ")
    user_list.append(element)
print("The list is:", user_list)

29.	Write a Python program to find the average of n numbers using list.

In [ ]:
def average_of_list(numbers):
    if not numbers:
        return 0
    return sum(numbers) / len(numbers)

n = int(input("Enter the number of elements: "))
numbers = []
for i in range(n):
    number = float(input(f"Enter number {i+1}: "))
    numbers.append(number)

average = average_of_list(numbers)
print("The average is:", average)

Enter the number of elements: 3
Enter number 1: 23
Enter number 2: 56
Enter number 3: 13
The average is: 30.666666666666668

30.	Write a Python program to find the largest element in the list.

In [ ]:
def find_largest(numbers):
  if not numbers:
    return None
  largest = numbers[0]
  for number in numbers:
    if number > largest:
      largest = number
  return largest

numbers = [1, 5, 3, 9, 2]
largest_number = find_largest(numbers)
print("The largest element is:", largest_number)

The largest element is: 9

31.	Write a Python program to perform Linear search.

In [ ]:
def linear_search(arr, target):
    for i in range(len(arr)):
        if arr[i] == target:
            return i
    return -1
numbers = [2, 7, 4, 9, 1]
target_number = 9
index = linear_search(numbers, target_number)
if index != -1:
    print(f"Target found at index: {index}")
else:
    print("Target not found in the list.")

Target found at index: 3

32.	Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [ ]:
lines = []
print("Enter lines of text (Press Enter twice to finish):")

while True:
    line = input()
    if line:
        lines.append(line.upper())
    else:
        break
for line in lines:
    print(line)

Enter lines of text (Press Enter twice to finish):
hello world practice makes perfect

HELLO WORLD PRACTICE MAKES PERFECT

33.	Write a program which accepts a sequence of comma‐separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [ ]:
input_numbers = input("Enter comma-separated numbers: ")
number_list = input_numbers.split(',')
number_tuple = tuple(number_list)
print("List:", number_list)
print("Tuple:", number_tuple)

Enter comma-separated numbers: 34,67,12,89,24,46
List: ['34', '67', '12', '89', '24', '46']
Tuple: ('34', '67', '12', '89', '24', '46')

34.	Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
D 100
W 200
¡
D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500

In [ ]:
net_amount = 0
print("Enter transactions (e.g., 'D 100' for deposit, 'W 200' for withdrawal).")
print("Press Enter without input to finish.")

while True:
    transaction = input()
    if not transaction:
        break
    transaction_type, amount = transaction.split()
    amount = int(amount)

    if transaction_type == 'D':
        net_amount += amount
    elif transaction_type == 'W':
        net_amount -= amount
print("Net amount:", net_amount)

Enter transactions (e.g., 'D 100' for deposit, 'W 200' for withdrawal).
Press Enter without input to finish.
D 500
W 200
D 300
W 250

Net amount: 350